<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="author" content="吕世强" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        input{
            border: 1px solid red;
            margin-top:30vh;
            margin-left:30vw;
        }
    </style>
</head>

<body>
      <input type="text" id="name" placeholder="输入你要删除的名字">
      <a href="list.html" class="btn btn-info" onclick="deletea()">删除</a>
    <script src="js/delete.js"></script>
</body>
</html>